NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_API_SIGERH=http://192.168.205.250:7777 
NEXTAUTH_URL='http://localhost:3000/api/auth'
NEXTAUTH_SECRET='vefNPEottaZEoJ3IljcxDr/skzuDpJVqKYcFlba2c9A='
NODE_TLS_REJECT_UNAUTHORIZED=0
WSO2IS_CLIENT_ID='xauB9CtqIacDgGBhJg70hbD5Pcca'
WSO2IS_CLIENT_SECRET='ZQcBi_KT2cfZOCCHGnXdqumDk_ca'
WSO2IS_HOST='https://is.aica.cu:9444'
WSO2IS_TENANT_NAME='carbon.super'
